@import "tailwindcss";
*{
  box-sizing: border-box;
  /* background-color: rgb(30, 28, 28); */
}
.variable-proximity-demo {
  font-family: 'Inter var', sans-serif;
}
.variable-proximity-demo {
  font-family: 'Inter var', sans-serif;
}


.no-visible-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.no-visible-scrollbar::-webkit-scrollbar {
  display: none;
}
